.weather-app {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: black;
}

button {
    background-color: #007bff;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Chargement en cours */
.weather-app p {
    font-size: 18px;
}

/* Carte de prévisions météorologiques */
.weather-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style pour chaque carte de prévision */
.weather-forecast .weather-card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le texte de la carte de prévision */
.weather-forecast .weather-card p {
    font-size: 16px;
    margin: 5px 0;
}

/* Style pour l'icône météo */
.weather-forecast .weather-card img {
    max-width: 80px;
    height: auto;
}

input[type="date"] {
    background-color: whitesmoke;
    padding: 15px;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
}
input[type="recherche"] {
    background-color: whitesmoke;
    padding: 15px;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
}
.envieTest {
    border: solid 3px black;
    border-radius: 5px;
    width: 30%;
    margin-left: 35%;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2em;
    }

    input[type="text"] {
        font-size: 0.8em;
    }

    button {
        font-size: 0.8em;
    }

    .envieTest {
        margin-left: 0;
        width: 100%; /* toute la largeur sur les écrans très petits */
    }
}
